
<%include header%>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Grafos</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">Estadísticas</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">
            Mis grafos
            <!-- Crear nuevo -->
            <a href="/grafo/nuevo" class="btn btn-success btn-lg">Crear nuevo</a>
            <!-- Importar -->
            <div class="dropdown" style="display:inline">
            <a class="btn btn-default btn-lg btn-warn" data-toggle="dropdown">Importar <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#" id="menu_importar_gexf">Archivo GEXF...</a></li>
              <li><a href="#" id="menu_importar_csv">Archivo CSV...</a></li>
            </ul>
            </div>
          </h1>


          <!-- lista de grafos --><br><br>
          <% if(grafos.length<1) {%><div style="color:darkgray"><h1><%= "No has creado ningún grafo"%></h2><h3>Utiliza el botón 'crear nuevo' para comenzar la diversión</h3></div><% } else {%>
          <div class="row placeholders">
          
          <% for(grafo in grafos) { g = grafos[grafo]; %>
            <div class="col-xs-6 col-sm-3 placeholder">
              <a href="/grafo/<%=g._id%>"><img data-src="holder.js/200x200/auto/sky/text:o--o--o--o" class="img-responsive"></a>
              <h4><%=g.nombre%> &nbsp;<a href="/borrarGrafo/<%=g._id%>" onclick="return confirm('Seguro que quieres borrar el grafo `<%=g.nombre%>`?')"><span class="borrar">[&times;]</span></a></h4><span class="text-muted">Creado el 01/01/2014</span>
            </div>
          <%}%>
          
          </div>
          <%}%>

        </div>
      </div>
    </div>


<!-- Diálogo de Subir -->
<div class="modal fade dialogo-subir" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog ">
      <div class="modal-content">

        <input type="file" id="archivo_importacion">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="mySmallModalLabel">Importar archivo...</h4>
        </div>
        <div class="modal-body">

          <div id ="arrastre">
            <h1 style="text-align:center"><br>Suelta el archivo aquí<br><br><br></h1>
          </div>

          <div id="subiendo">
            <h3 style="text-align:center"><br>Importando <span class="elarchivo" style="color:blue"></span><br><br><br></h3>
          </div>

          <div id="error">Algún error ocurrió :/</div>

        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

<script>
  $(function() { 
    // $('.dialogo-subir').modal()
    // $('#archivo_importacion')

  })
</script>
<%include footer%>